<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>START</title>
  <style>
    .btn {
      color: #fff;
      background-color: #5200eb;
    }
  </style>
  <script>
    window.onload = function () {
      function logout() {
        //yesならtrue,noならfalseが返ってくる
        var yn = window.confirm("本当にログアウトしてよろしいですか？");
        if (yn) {
          location.href = "/logout";
        } else {
          window.alert('キャンセルされました');
        }
      }
      let button = document.getElementById('check');
      button.onclick = logout;
    }
  </script>
</head>

<body>
  <button id='check' class="btn"> logout </button>
  <h1>Welcome！[[${playername}]]</h1>

  <h2>プレイヤー</h2>
  <p th:if="${playerList}">
  <table border="2">
    <tr>
      <th>ID</th>
      <th>プレイヤー名(wait)</th>
      <th>プレイヤー名(gomoku1)</th>
    </tr>
    <div th:each="player:${playerList}">
      <tr>
        <td>[[${player.id}]]</td>
        <th:block th:switch="${myid}">
          <td th:case="${player.id}">[[${player.name}]]</td>
          <td th:case="*"><a th:href="@{/wait(id=${player.id})}">[[${player.name}]]</a></td>
        </th:block>
        <th:block th:switch="${myid}">
          <td th:case="${player.id}">[[${player.name}]]</td>
          <td th:case="*"><a th:href="@{/gomoku1(id=${player.id})}">[[${player.name}]]</a></td>
        </th:block>
      </tr>
    </div>
  </table>
  </p>

  <h2>アクティブな試合</h2>
  <p th:if="${matchList}">
  <table border="2">
    <tr>
      <th>ID</th>
      <th>プレイヤー1</th>
      <th>プレイヤー2</th>
    </tr>
    <div th:each="match:${matchList}">
      <div th:if="${match.isActive == true}">
        <tr>
          <td>[[${match.id}]]</td>
          <td>[[${match.player1}]]</td>
          <td>[[${match.player2}]]</td>
        </tr>
      </div>
    </div>
  </table>
  </p>

  <h2>試合結果</h2>
  <p th:if="${matchList}">
  <table border="2">
    <tr>
      <th>ID</th>
      <th>プレイヤー1</th>
      <th>プレイヤー2</th>
      <th>勝ち</th>
    </tr>
    <div th:each="match:${matchList}">
      <div th:if="${match.isActive == false}">
        <tr>
          <td>[[${match.id}]]</td>
          <td>[[${match.player1}]]</td>
          <td>[[${match.player2}]]</td>
          <td>[[${match.winner}]]</td>
        </tr>
      </div>
    </div>
  </table>
  </p>

</body>

</html>
