<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="icon" th:src="@{/favicon.ico}">
  <!-- Bootstrap core CSS -->
  <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css rel="stylesheet"
    crossorigin="anonymous">

  <audio id="sound" th:src="@{/sound/bgm2.mp3}" autoplay loop></audio>
  <title>START</title>
  <style>
    .btn {
      color: #fff;
      background-color: #5200eb;
      width: 90px;
      height: 30px;
    }

    .btn2 {
      color: #fff;
      background-color: #c4b000;
      width: 90px;
      height: 30px;
    }

    #main {
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      width: 450px;

    }

    body {
      padding-top: 90px;
      /* ヘッダーの後ろに要素が隠れないようにするため */
    }

    td,th{
      border : 1px solid #000000;
    }
  </style>
  <script>
    window.onload = function () {
      const s = document.getElementById('sound');
      const muted = document.getElementById('muted');
      s.volume = 0.1;
      muted.onclick = function () {
        s.muted = !s.muted;
      }
      function logout() {
        //yesならtrue,noならfalseが返ってくる
        var yn = window.confirm("本当にログアウトしてよろしいですか？");
        if (yn) {
          location.href = "/logout";
        } else {
          window.alert('キャンセルされました');
        }
      }
      let button = document.getElementById('check');
      button.onclick = logout;
      var sse = new EventSource('/game/matching');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        var matchList = JSON.parse(event.data);//JSONオブジェクトとしてparse
        console.log(matchList);
        var isActive_match_table = "";
        for (var i = 0; i < matchList.length; i++) {
          var s_tr = "<tr align='center'>";
          var e_tr = "</tr>";
          var m_id = "<td>" + matchList[i].id + "</td>";
          var m_player1 = "<td>" + matchList[i].player1 + "</td>";
          var m_player2 = "<td>" + matchList[i].player2 + "</td>";
          if (matchList[i].active) {
            isActive_match_table = isActive_match_table + s_tr + m_id + m_player1 + m_player2 + e_tr;
          }
        }
        var tbody = document.getElementById("isActive_match_list");
        tbody.innerHTML = isActive_match_table;
      }
    }
  </script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">HOME</a>

        <div class="nav nav-masthead justify-content-center float-md-end" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <button id='check' class="btn">ログアウト</button>
            </li>
            <li class="nav-item">
              <button id="muted" class="btn2">ミュート</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div id="main">
    <h1>Welcome！[[${playername}]]</h1>

    <h2>プレイヤー</h2>
    <p th:if="${playerList}">
    <p>対戦相手を選んでください</p>
    <table border="2">
      <tr align="center">
        <th>ID</th>
        <th>プレイヤー名</th>
      </tr>
      <div th:each="player:${playerList}">
        <tr align="center">
          <td>[[${player.id}]]</td>
          <th:block th:switch="${myid}">
            <td th:case="${player.id}">[[${player.name}]]</td>
            <td th:case="*"><a th:href="@{/wait(id=${player.id})}">[[${player.name}]]</a></td>
          </th:block>
        </tr>
      </div>
    </table>
    </p>

    <h2>アクティブな試合</h2>
    <table border="2">
      <tr align="center">
        <th width="10%">ID</th>
        <th width="40%">申し込んだプレイヤー</th>
        <th width="40%">申し込まれたプレイヤー</th>
      </tr>
      <tbody id="isActive_match_list">
        <p th:if="${matchList}">
        <div th:each="match:${matchList}">
          <div th:if="${match.isActive == true}">
            <tr align="center">
              <td>[[${match.id}]]</td>
              <td>[[${match.player1}]]</td>
              <td>[[${match.player2}]]</td>
            </tr>
          </div>
        </div>
        </p>
      </tbody>
    </table>

    <h2>試合結果</h2>
    <p th:if="${matchList}">
    <table border="2">
      <tr align="center">
        <th width="10%">ID</th>
        <th width="40%">申し込んだプレイヤー</th>
        <th width="40%">申し込まれたプレイヤー</th>
        <th width="10%">勝ち</th>
      </tr>
      <div th:each="match:${matchList}">
        <div th:if="${match.isActive == false}">
          <tr align="center">
            <td>[[${match.id}]]</td>
            <td>[[${match.player1}]]</td>
            <td>[[${match.player2}]]</td>
            <td>[[${match.winner}]]</td>
          </tr>
        </div>
      </div>
    </table>
    </p>
  </div>
</body>

</html>
