<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>gomoku</title>
  <style>
    .square {
      font-size: 25px;
    }

    a {
      text-decoration: none;
      color: #000000;
      background-color: rgba(255, 140, 0, 0.692);
    }

    .text {
      text-decoration: none;
      color: #000000;
      background-color: rgba(255, 140, 0, 0.692);
    }
  </style>
</head>

<body>
  <h1>GOMOKU GAME</h1>

  <!-- 縦横の座標のみ渡す -->
  <!-- 自分のターンはリンクあり -->
  <p th:if="${flag}">[[${winner}]]</p>
  <div th:if="${turn == true}" class="square">
    <h2>あなたのターン</h2>
    <div th:each="i : ${#numbers.sequence(0,14)}">
      <span th:each="j : ${#numbers.sequence(0,14)}">
        <a href="/gomoku2" th:href="@{/gomoku2(col=${i},row=${j})}" th:text="${board[i][j]} "
          th:if="${board_info[i][j]==-1}"></a>
        <span th:if="${board_info[i][j]!=-1}" th:text="${board[i][j]}" class="text"></span>
      </span>
    </div>
  </div>

  <!-- 相手のターンはリンクなし -->
  <div th:if="${turn == false}" class="square">
    <h2>相手のターン</h2>
    <div th:each="i : ${#numbers.sequence(0,14)}">
      <span th:text="${board[i][j]}" th:each="j : ${#numbers.sequence(0,14)}" class="text"></span>
    </div>
  </div>

</body>

</html>
