<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>gomoku</title>
  <style>
    .square {
      font-size: 22px;
    }

    a {
      text-decoration: none;
      color: #000000;
      background-color: rgba(255, 140, 0, 0.692);
    }

    .text {
      text-decoration: none;
      color: #000000;
      background-color: rgba(255, 140, 0, 0.692);
    }
  </style>
  <script>
    window.onload = function () {
      var sse = new EventSource('/gomoku2/load');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        var boards = JSON.parse(event.data);//JSONオブジェクトとしてparse
        console.log(boards)
        var board_body = "";
        for (var i = 0; i < 15; i++) {
          for (var j = 0; j < 15; j++) {
            if (boards.boardinfo[i][j] != -1) {
              board_body += "<span class='text'>" + boards.board[i][j] + "</span>"
            } else {
              board_body += "<a href='/gomoku2?col=" + i + "&row=" + j + "'>" + boards.board[i][j] + "</a>"
            }
          }
          board_body += "<br>"
        }
        var tbody = document.getElementById("board");
        tbody.innerHTML = board_body;//idがboardのtbodyのHTMLを差し替える
      }
    }
  </script>
</head>

<body>
  <h1>GOMOKU GAME</h1>

  <!-- 縦横の座標のみ渡す -->
  <!-- 自分のターンはリンクあり -->
  <p th:if="${flag}">[[${winner}]]</p>
  <div th:if="${turn == true}" class="square">
    <h2>あなたのターン</h2>
    <span id="board">
      <div th:each="i : ${#numbers.sequence(0,14)}">
        <span th:each="j : ${#numbers.sequence(0,14)}">
          <a href="/gomoku2" th:href="@{/gomoku2(col=${i},row=${j})}" th:text="${board[i][j]} "
            th:if="${board_info[i][j]==-1}"></a>
          <span th:if="${board_info[i][j]!=-1}" th:text="${board[i][j]}" class="text"></span>
        </span>
      </div>
    </span>
  </div>

  <!-- 相手のターンはリンクなし -->
  <div th:if="${turn == false}" class="square">
    <h2>相手のターン</h2>
    <div th:each="i : ${#numbers.sequence(0,14)}">
      <span th:text="${board[i][j]}" th:each="j : ${#numbers.sequence(0,14)}" class="text"></span>
    </div>
  </div>

</body>

</html>
