<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>gomoku</title>
</head>

<body>
  <h1>GOMOKU GAME</h1>

  <!-- 確認用 後で消す
  <div th:if="${count}">
    <p th:each="c:${count}">
      [[${c}]]
    </p>
  </div>
-->

  <!-- 縦横の座標のみ渡す -->
  <!-- 自分のターンはリンクあり -->
  <div th:if="${turn == true}" class="square">
    <h2>あなたのターン</h2>
    <a href="/gomoku2?col=0&row=0" th:text="${board[0][0]}"></a>
    <a href="/gomoku2?col=0&row=1" th:text="${board[0][1]}"></a>
    <a href="/gomoku2?col=0&row=2" th:text="${board[0][2]}"></a>
    <a href="/gomoku2?col=0&row=3" th:text="${board[0][3]}"></a>
    <a href="/gomoku2?col=0&row=4" th:text="${board[0][4]}"></a>
    <a href="/gomoku2?col=0&row=5" th:text="${board[0][5]}"></a>
    <a href="/gomoku2?col=0&row=6" th:text="${board[0][6]}"></a>
    <a href="/gomoku2?col=0&row=7" th:text="${board[0][7]}"></a>
    <a href="/gomoku2?col=0&row=8" th:text="${board[0][8]}"></a>
    <a href="/gomoku2?col=0&row=9" th:text="${board[0][9]}"></a>
    <a href="/gomoku2?col=0&row=10" th:text="${board[0][10]}"></a>
    <a href="/gomoku2?col=0&row=11" th:text="${board[0][11]}"></a>
    <a href="/gomoku2?col=0&row=12" th:text="${board[0][12]}"></a>
    <a href="/gomoku2?col=0&row=13" th:text="${board[0][13]}"></a>
    <a href="/gomoku2?col=0&row=14" th:text="${board[0][14]}"></a><br>

    <a href="/gomoku2?col=1&row=0" th:text="${board[1][0]}"></a>
    <a href="/gomoku2?col=1&row=1" th:text="${board[1][1]}"></a>
    <a href="/gomoku2?col=1&row=2" th:text="${board[1][2]}"></a>
    <a href="/gomoku2?col=1&row=3" th:text="${board[1][3]}"></a>
    <a href="/gomoku2?col=1&row=4" th:text="${board[1][4]}"></a>
    <a href="/gomoku2?col=1&row=5" th:text="${board[1][5]}"></a>
    <a href="/gomoku2?col=1&row=6" th:text="${board[1][6]}"></a>
    <a href="/gomoku2?col=1&row=7" th:text="${board[1][7]}"></a>
    <a href="/gomoku2?col=1&row=8" th:text="${board[1][8]}"></a>
    <a href="/gomoku2?col=1&row=9" th:text="${board[1][9]}"></a>
    <a href="/gomoku2?col=1&row=10" th:text="${board[1][10]}"></a>
    <a href="/gomoku2?col=1&row=11" th:text="${board[1][11]}"></a>
    <a href="/gomoku2?col=1&row=12" th:text="${board[1][12]}"></a>
    <a href="/gomoku2?col=1&row=13" th:text="${board[1][13]}"></a>
    <a href="/gomoku2?col=1&row=14" th:text="${board[1][14]}"></a><br>

    <a href="/gomoku2?col=2&row=0" th:text="${board[2][0]}"></a>
    <a href="/gomoku2?col=2&row=1" th:text="${board[2][1]}"></a>
    <a href="/gomoku2?col=2&row=2" th:text="${board[2][2]}"></a>
    <a href="/gomoku2?col=2&row=3" th:text="${board[2][3]}"></a>
    <a href="/gomoku2?col=2&row=4" th:text="${board[2][4]}"></a>
    <a href="/gomoku2?col=2&row=5" th:text="${board[2][5]}"></a>
    <a href="/gomoku2?col=2&row=6" th:text="${board[2][6]}"></a>
    <a href="/gomoku2?col=2&row=7" th:text="${board[2][7]}"></a>
    <a href="/gomoku2?col=2&row=8" th:text="${board[2][8]}"></a>
    <a href="/gomoku2?col=2&row=9" th:text="${board[2][9]}"></a>
    <a href="/gomoku2?col=2&row=10" th:text="${board[2][10]}"></a>
    <a href="/gomoku2?col=2&row=11" th:text="${board[2][11]}"></a>
    <a href="/gomoku2?col=2&row=12" th:text="${board[2][12]}"></a>
    <a href="/gomoku2?col=2&row=13" th:text="${board[2][13]}"></a>
    <a href="/gomoku2?col=2&row=14" th:text="${board[2][14]}"></a><br>

    <a href="/gomoku2?col=3&row=0" th:text="${board[3][0]}"></a>
    <a href="/gomoku2?col=3&row=1" th:text="${board[3][1]}"></a>
    <a href="/gomoku2?col=3&row=2" th:text="${board[3][2]}"></a>
    <a href="/gomoku2?col=3&row=3" th:text="${board[3][3]}"></a>
    <a href="/gomoku2?col=3&row=4" th:text="${board[3][4]}"></a>
    <a href="/gomoku2?col=3&row=5" th:text="${board[3][5]}"></a>
    <a href="/gomoku2?col=3&row=6" th:text="${board[3][6]}"></a>
    <a href="/gomoku2?col=3&row=7" th:text="${board[3][7]}"></a>
    <a href="/gomoku2?col=3&row=8" th:text="${board[3][8]}"></a>
    <a href="/gomoku2?col=3&row=9" th:text="${board[3][9]}"></a>
    <a href="/gomoku2?col=3&row=10" th:text="${board[3][10]}"></a>
    <a href="/gomoku2?col=3&row=11" th:text="${board[3][11]}"></a>
    <a href="/gomoku2?col=3&row=12" th:text="${board[3][12]}"></a>
    <a href="/gomoku2?col=3&row=13" th:text="${board[3][13]}"></a>
    <a href="/gomoku2?col=3&row=14" th:text="${board[3][14]}"></a><br>

    <a href="/gomoku2?col=4&row=0" th:text="${board[4][0]}"></a>
    <a href="/gomoku2?col=4&row=1" th:text="${board[4][1]}"></a>
    <a href="/gomoku2?col=4&row=2" th:text="${board[4][2]}"></a>
    <a href="/gomoku2?col=4&row=3" th:text="${board[4][3]}"></a>
    <a href="/gomoku2?col=4&row=4" th:text="${board[4][4]}"></a>
    <a href="/gomoku2?col=4&row=5" th:text="${board[4][5]}"></a>
    <a href="/gomoku2?col=4&row=6" th:text="${board[4][6]}"></a>
    <a href="/gomoku2?col=4&row=7" th:text="${board[4][7]}"></a>
    <a href="/gomoku2?col=4&row=8" th:text="${board[4][8]}"></a>
    <a href="/gomoku2?col=4&row=9" th:text="${board[4][9]}"></a>
    <a href="/gomoku2?col=4&row=10" th:text="${board[4][10]}"></a>
    <a href="/gomoku2?col=4&row=11" th:text="${board[4][11]}"></a>
    <a href="/gomoku2?col=4&row=12" th:text="${board[4][12]}"></a>
    <a href="/gomoku2?col=4&row=13" th:text="${board[4][13]}"></a>
    <a href="/gomoku2?col=4&row=14" th:text="${board[4][14]}"></a><br>

    <a href="/gomoku2?col=5&row=0" th:text="${board[5][0]}"></a>
    <a href="/gomoku2?col=5&row=1" th:text="${board[5][1]}"></a>
    <a href="/gomoku2?col=5&row=2" th:text="${board[5][2]}"></a>
    <a href="/gomoku2?col=5&row=3" th:text="${board[5][3]}"></a>
    <a href="/gomoku2?col=5&row=4" th:text="${board[5][4]}"></a>
    <a href="/gomoku2?col=5&row=5" th:text="${board[5][5]}"></a>
    <a href="/gomoku2?col=5&row=6" th:text="${board[5][6]}"></a>
    <a href="/gomoku2?col=5&row=7" th:text="${board[5][7]}"></a>
    <a href="/gomoku2?col=5&row=8" th:text="${board[5][8]}"></a>
    <a href="/gomoku2?col=5&row=9" th:text="${board[5][9]}"></a>
    <a href="/gomoku2?col=5&row=10" th:text="${board[5][10]}"></a>
    <a href="/gomoku2?col=5&row=11" th:text="${board[5][11]}"></a>
    <a href="/gomoku2?col=5&row=12" th:text="${board[5][12]}"></a>
    <a href="/gomoku2?col=5&row=13" th:text="${board[5][13]}"></a>
    <a href="/gomoku2?col=5&row=14" th:text="${board[5][14]}"></a><br>

    <a href="/gomoku2?col=6&row=0" th:text="${board[6][0]}"></a>
    <a href="/gomoku2?col=6&row=1" th:text="${board[6][1]}"></a>
    <a href="/gomoku2?col=6&row=2" th:text="${board[6][2]}"></a>
    <a href="/gomoku2?col=6&row=3" th:text="${board[6][3]}"></a>
    <a href="/gomoku2?col=6&row=4" th:text="${board[6][4]}"></a>
    <a href="/gomoku2?col=6&row=5" th:text="${board[6][5]}"></a>
    <a href="/gomoku2?col=6&row=6" th:text="${board[6][6]}"></a>
    <a href="/gomoku2?col=6&row=7" th:text="${board[6][7]}"></a>
    <a href="/gomoku2?col=6&row=8" th:text="${board[6][8]}"></a>
    <a href="/gomoku2?col=6&row=9" th:text="${board[6][9]}"></a>
    <a href="/gomoku2?col=6&row=10" th:text="${board[6][10]}"></a>
    <a href="/gomoku2?col=6&row=11" th:text="${board[6][11]}"></a>
    <a href="/gomoku2?col=6&row=12" th:text="${board[6][12]}"></a>
    <a href="/gomoku2?col=6&row=13" th:text="${board[6][13]}"></a>
    <a href="/gomoku2?col=6&row=14" th:text="${board[6][14]}"></a><br>

    <a href="/gomoku2?col=7&row=0" th:text="${board[7][0]}"></a>
    <a href="/gomoku2?col=7&row=1" th:text="${board[7][1]}"></a>
    <a href="/gomoku2?col=7&row=2" th:text="${board[7][2]}"></a>
    <a href="/gomoku2?col=7&row=3" th:text="${board[7][3]}"></a>
    <a href="/gomoku2?col=7&row=4" th:text="${board[7][4]}"></a>
    <a href="/gomoku2?col=7&row=5" th:text="${board[7][5]}"></a>
    <a href="/gomoku2?col=7&row=6" th:text="${board[7][6]}"></a>
    <a href="/gomoku2?col=7&row=7" th:text="${board[7][7]}"></a>
    <a href="/gomoku2?col=7&row=8" th:text="${board[7][8]}"></a>
    <a href="/gomoku2?col=7&row=9" th:text="${board[7][9]}"></a>
    <a href="/gomoku2?col=7&row=10" th:text="${board[7][10]}"></a>
    <a href="/gomoku2?col=7&row=11" th:text="${board[7][11]}"></a>
    <a href="/gomoku2?col=7&row=12" th:text="${board[7][12]}"></a>
    <a href="/gomoku2?col=7&row=13" th:text="${board[7][13]}"></a>
    <a href="/gomoku2?col=7&row=14" th:text="${board[7][14]}"></a><br>

    <a href="/gomoku2?col=8&row=0" th:text="${board[8][0]}"></a>
    <a href="/gomoku2?col=8&row=1" th:text="${board[8][1]}"></a>
    <a href="/gomoku2?col=8&row=2" th:text="${board[8][2]}"></a>
    <a href="/gomoku2?col=8&row=3" th:text="${board[8][3]}"></a>
    <a href="/gomoku2?col=8&row=4" th:text="${board[8][4]}"></a>
    <a href="/gomoku2?col=8&row=5" th:text="${board[8][5]}"></a>
    <a href="/gomoku2?col=8&row=6" th:text="${board[8][6]}"></a>
    <a href="/gomoku2?col=8&row=7" th:text="${board[8][7]}"></a>
    <a href="/gomoku2?col=8&row=8" th:text="${board[8][8]}"></a>
    <a href="/gomoku2?col=8&row=9" th:text="${board[8][9]}"></a>
    <a href="/gomoku2?col=8&row=10" th:text="${board[8][10]}"></a>
    <a href="/gomoku2?col=8&row=11" th:text="${board[8][11]}"></a>
    <a href="/gomoku2?col=8&row=12" th:text="${board[8][12]}"></a>
    <a href="/gomoku2?col=8&row=13" th:text="${board[8][13]}"></a>
    <a href="/gomoku2?col=8&row=14" th:text="${board[8][14]}"></a><br>

    <a href="/gomoku2?col=9&row=0" th:text="${board[9][0]}"></a>
    <a href="/gomoku2?col=9&row=1" th:text="${board[9][1]}"></a>
    <a href="/gomoku2?col=9&row=2" th:text="${board[9][2]}"></a>
    <a href="/gomoku2?col=9&row=3" th:text="${board[9][3]}"></a>
    <a href="/gomoku2?col=9&row=4" th:text="${board[9][4]}"></a>
    <a href="/gomoku2?col=9&row=5" th:text="${board[9][5]}"></a>
    <a href="/gomoku2?col=9&row=6" th:text="${board[9][6]}"></a>
    <a href="/gomoku2?col=9&row=7" th:text="${board[9][7]}"></a>
    <a href="/gomoku2?col=9&row=8" th:text="${board[9][8]}"></a>
    <a href="/gomoku2?col=9&row=9" th:text="${board[9][9]}"></a>
    <a href="/gomoku2?col=9&row=10" th:text="${board[9][10]}"></a>
    <a href="/gomoku2?col=9&row=11" th:text="${board[9][11]}"></a>
    <a href="/gomoku2?col=9&row=12" th:text="${board[9][12]}"></a>
    <a href="/gomoku2?col=9&row=13" th:text="${board[9][13]}"></a>
    <a href="/gomoku2?col=9&row=14" th:text="${board[9][14]}"></a><br>

    <a href="/gomoku2?col=10&row=0" th:text="${board[10][0]}"></a>
    <a href="/gomoku2?col=10&row=1" th:text="${board[10][1]}"></a>
    <a href="/gomoku2?col=10&row=2" th:text="${board[10][2]}"></a>
    <a href="/gomoku2?col=10&row=3" th:text="${board[10][3]}"></a>
    <a href="/gomoku2?col=10&row=4" th:text="${board[10][4]}"></a>
    <a href="/gomoku2?col=10&row=5" th:text="${board[10][5]}"></a>
    <a href="/gomoku2?col=10&row=6" th:text="${board[10][6]}"></a>
    <a href="/gomoku2?col=10&row=7" th:text="${board[10][7]}"></a>
    <a href="/gomoku2?col=10&row=8" th:text="${board[10][8]}"></a>
    <a href="/gomoku2?col=10&row=9" th:text="${board[10][9]}"></a>
    <a href="/gomoku2?col=10&row=10" th:text="${board[10][10]}"></a>
    <a href="/gomoku2?col=10&row=11" th:text="${board[10][11]}"></a>
    <a href="/gomoku2?col=10&row=12" th:text="${board[10][12]}"></a>
    <a href="/gomoku2?col=10&row=13" th:text="${board[10][13]}"></a>
    <a href="/gomoku2?col=10&row=14" th:text="${board[10][14]}"></a><br>

    <a href="/gomoku2?col=11&row=0" th:text="${board[11][0]}"></a>
    <a href="/gomoku2?col=11&row=1" th:text="${board[11][1]}"></a>
    <a href="/gomoku2?col=11&row=2" th:text="${board[11][2]}"></a>
    <a href="/gomoku2?col=11&row=3" th:text="${board[11][3]}"></a>
    <a href="/gomoku2?col=11&row=4" th:text="${board[11][4]}"></a>
    <a href="/gomoku2?col=11&row=5" th:text="${board[11][5]}"></a>
    <a href="/gomoku2?col=11&row=6" th:text="${board[11][6]}"></a>
    <a href="/gomoku2?col=11&row=7" th:text="${board[11][7]}"></a>
    <a href="/gomoku2?col=11&row=8" th:text="${board[11][8]}"></a>
    <a href="/gomoku2?col=11&row=9" th:text="${board[11][9]}"></a>
    <a href="/gomoku2?col=11&row=10" th:text="${board[11][10]}"></a>
    <a href="/gomoku2?col=11&row=11" th:text="${board[11][11]}"></a>
    <a href="/gomoku2?col=11&row=12" th:text="${board[11][12]}"></a>
    <a href="/gomoku2?col=11&row=13" th:text="${board[11][13]}"></a>
    <a href="/gomoku2?col=11&row=14" th:text="${board[11][14]}"></a><br>

    <a href="/gomoku2?col=12&row=0" th:text="${board[12][0]}"></a>
    <a href="/gomoku2?col=12&row=1" th:text="${board[12][1]}"></a>
    <a href="/gomoku2?col=12&row=2" th:text="${board[12][2]}"></a>
    <a href="/gomoku2?col=12&row=3" th:text="${board[12][3]}"></a>
    <a href="/gomoku2?col=12&row=4" th:text="${board[12][4]}"></a>
    <a href="/gomoku2?col=12&row=5" th:text="${board[12][5]}"></a>
    <a href="/gomoku2?col=12&row=6" th:text="${board[12][6]}"></a>
    <a href="/gomoku2?col=12&row=7" th:text="${board[12][7]}"></a>
    <a href="/gomoku2?col=12&row=8" th:text="${board[12][8]}"></a>
    <a href="/gomoku2?col=12&row=9" th:text="${board[12][9]}"></a>
    <a href="/gomoku2?col=12&row=10" th:text="${board[12][10]}"></a>
    <a href="/gomoku2?col=12&row=11" th:text="${board[12][11]}"></a>
    <a href="/gomoku2?col=12&row=12" th:text="${board[12][12]}"></a>
    <a href="/gomoku2?col=12&row=13" th:text="${board[12][13]}"></a>
    <a href="/gomoku2?col=12&row=14" th:text="${board[12][14]}"></a><br>

    <a href="/gomoku2?col=13&row=0" th:text="${board[13][0]}"></a>
    <a href="/gomoku2?col=13&row=1" th:text="${board[13][1]}"></a>
    <a href="/gomoku2?col=13&row=2" th:text="${board[13][2]}"></a>
    <a href="/gomoku2?col=13&row=3" th:text="${board[13][3]}"></a>
    <a href="/gomoku2?col=13&row=4" th:text="${board[13][4]}"></a>
    <a href="/gomoku2?col=13&row=5" th:text="${board[13][5]}"></a>
    <a href="/gomoku2?col=13&row=6" th:text="${board[13][6]}"></a>
    <a href="/gomoku2?col=13&row=7" th:text="${board[13][7]}"></a>
    <a href="/gomoku2?col=13&row=8" th:text="${board[13][8]}"></a>
    <a href="/gomoku2?col=13&row=9" th:text="${board[13][9]}"></a>
    <a href="/gomoku2?col=13&row=10" th:text="${board[13][10]}"></a>
    <a href="/gomoku2?col=13&row=11" th:text="${board[13][11]}"></a>
    <a href="/gomoku2?col=13&row=12" th:text="${board[13][12]}"></a>
    <a href="/gomoku2?col=13&row=13" th:text="${board[13][13]}"></a>
    <a href="/gomoku2?col=13&row=14" th:text="${board[13][14]}"></a><br>

    <a href="/gomoku2?col=14&row=0" th:text="${board[14][0]}"></a>
    <a href="/gomoku2?col=14&row=1" th:text="${board[14][1]}"></a>
    <a href="/gomoku2?col=14&row=2" th:text="${board[14][2]}"></a>
    <a href="/gomoku2?col=14&row=3" th:text="${board[14][3]}"></a>
    <a href="/gomoku2?col=14&row=4" th:text="${board[14][4]}"></a>
    <a href="/gomoku2?col=14&row=5" th:text="${board[14][5]}"></a>
    <a href="/gomoku2?col=14&row=6" th:text="${board[14][6]}"></a>
    <a href="/gomoku2?col=14&row=7" th:text="${board[14][7]}"></a>
    <a href="/gomoku2?col=14&row=8" th:text="${board[14][8]}"></a>
    <a href="/gomoku2?col=14&row=9" th:text="${board[14][9]}"></a>
    <a href="/gomoku2?col=14&row=10" th:text="${board[14][10]}"></a>
    <a href="/gomoku2?col=14&row=11" th:text="${board[14][11]}"></a>
    <a href="/gomoku2?col=14&row=12" th:text="${board[14][12]}"></a>
    <a href="/gomoku2?col=14&row=13" th:text="${board[14][13]}"></a>
    <a href="/gomoku2?col=14&row=14" th:text="${board[14][14]}"></a>
  </div>

  <!-- 相手のターンはリンクなし -->
  <div th:if="${turn == false}" class="square">
    <h2>相手のターン</h2>
    <span th:text="${board[0][0]}"></span>
    <span th:text="${board[0][1]}"></span>
    <span th:text="${board[0][2]}"></span>
    <span th:text="${board[0][3]}"></span>
    <span th:text="${board[0][4]}"></span>
    <span th:text="${board[0][5]}"></span>
    <span th:text="${board[0][6]}"></span>
    <span th:text="${board[0][7]}"></span>
    <span th:text="${board[0][8]}"></span>
    <span th:text="${board[0][9]}"></span>
    <span th:text="${board[0][10]}"></span>
    <span th:text="${board[0][11]}"></span>
    <span th:text="${board[0][12]}"></span>
    <span th:text="${board[0][13]}"></span>
    <span th:text="${board[0][14]}"></span><br>

    <span th:text="${board[1][0]}"></span>
    <span th:text="${board[1][1]}"></span>
    <span th:text="${board[1][2]}"></span>
    <span th:text="${board[1][3]}"></span>
    <span th:text="${board[1][4]}"></span>
    <span th:text="${board[1][5]}"></span>
    <span th:text="${board[1][6]}"></span>
    <span th:text="${board[1][7]}"></span>
    <span th:text="${board[1][8]}"></span>
    <span th:text="${board[1][9]}"></span>
    <span th:text="${board[1][10]}"></span>
    <span th:text="${board[1][11]}"></span>
    <span th:text="${board[1][12]}"></span>
    <span th:text="${board[1][13]}"></span>
    <span th:text="${board[1][14]}"></span><br>

    <span th:text="${board[2][0]}"></span>
    <span th:text="${board[2][1]}"></span>
    <span th:text="${board[2][2]}"></span>
    <span th:text="${board[2][3]}"></span>
    <span th:text="${board[2][4]}"></span>
    <span th:text="${board[2][5]}"></span>
    <span th:text="${board[2][6]}"></span>
    <span th:text="${board[2][7]}"></span>
    <span th:text="${board[2][8]}"></span>
    <span th:text="${board[2][9]}"></span>
    <span th:text="${board[2][10]}"></span>
    <span th:text="${board[2][11]}"></span>
    <span th:text="${board[2][12]}"></span>
    <span th:text="${board[2][13]}"></span>
    <span th:text="${board[2][14]}"></span><br>

    <span th:text="${board[3][0]}"></span>
    <span th:text="${board[3][1]}"></span>
    <span th:text="${board[3][2]}"></span>
    <span th:text="${board[3][3]}"></span>
    <span th:text="${board[3][4]}"></span>
    <span th:text="${board[3][5]}"></span>
    <span th:text="${board[3][6]}"></span>
    <span th:text="${board[3][7]}"></span>
    <span th:text="${board[3][8]}"></span>
    <span th:text="${board[3][9]}"></span>
    <span th:text="${board[3][10]}"></span>
    <span th:text="${board[3][11]}"></span>
    <span th:text="${board[3][12]}"></span>
    <span th:text="${board[3][13]}"></span>
    <span th:text="${board[3][14]}"></span><br>

    <span th:text="${board[4][0]}"></span>
    <span th:text="${board[4][1]}"></span>
    <span th:text="${board[4][2]}"></span>
    <span th:text="${board[4][3]}"></span>
    <span th:text="${board[4][4]}"></span>
    <span th:text="${board[4][5]}"></span>
    <span th:text="${board[4][6]}"></span>
    <span th:text="${board[4][7]}"></span>
    <span th:text="${board[4][8]}"></span>
    <span th:text="${board[4][9]}"></span>
    <span th:text="${board[4][10]}"></span>
    <span th:text="${board[4][11]}"></span>
    <span th:text="${board[4][12]}"></span>
    <span th:text="${board[4][13]}"></span>
    <span th:text="${board[4][14]}"></span><br>

    <span th:text="${board[5][0]}"></span>
    <span th:text="${board[5][1]}"></span>
    <span th:text="${board[5][2]}"></span>
    <span th:text="${board[5][3]}"></span>
    <span th:text="${board[5][4]}"></span>
    <span th:text="${board[5][5]}"></span>
    <span th:text="${board[5][6]}"></span>
    <span th:text="${board[5][7]}"></span>
    <span th:text="${board[5][8]}"></span>
    <span th:text="${board[5][9]}"></span>
    <span th:text="${board[5][10]}"></span>
    <span th:text="${board[5][11]}"></span>
    <span th:text="${board[5][12]}"></span>
    <span th:text="${board[5][13]}"></span>
    <span th:text="${board[5][14]}"></span><br>

    <span th:text="${board[6][0]}"></span>
    <span th:text="${board[6][1]}"></span>
    <span th:text="${board[6][2]}"></span>
    <span th:text="${board[6][3]}"></span>
    <span th:text="${board[6][4]}"></span>
    <span th:text="${board[6][5]}"></span>
    <span th:text="${board[6][6]}"></span>
    <span th:text="${board[6][7]}"></span>
    <span th:text="${board[6][8]}"></span>
    <span th:text="${board[6][9]}"></span>
    <span th:text="${board[6][10]}"></span>
    <span th:text="${board[6][11]}"></span>
    <span th:text="${board[6][12]}"></span>
    <span th:text="${board[6][13]}"></span>
    <span th:text="${board[6][14]}"></span><br>

    <span th:text="${board[7][0]}"></span>
    <span th:text="${board[7][1]}"></span>
    <span th:text="${board[7][2]}"></span>
    <span th:text="${board[7][3]}"></span>
    <span th:text="${board[7][4]}"></span>
    <span th:text="${board[7][5]}"></span>
    <span th:text="${board[7][6]}"></span>
    <span th:text="${board[7][7]}"></span>
    <span th:text="${board[7][8]}"></span>
    <span th:text="${board[7][9]}"></span>
    <span th:text="${board[7][10]}"></span>
    <span th:text="${board[7][11]}"></span>
    <span th:text="${board[7][12]}"></span>
    <span th:text="${board[7][13]}"></span>
    <span th:text="${board[7][14]}"></span><br>

    <span th:text="${board[8][0]}"></span>
    <span th:text="${board[8][1]}"></span>
    <span th:text="${board[8][2]}"></span>
    <span th:text="${board[8][3]}"></span>
    <span th:text="${board[8][4]}"></span>
    <span th:text="${board[8][5]}"></span>
    <span th:text="${board[8][6]}"></span>
    <span th:text="${board[8][7]}"></span>
    <span th:text="${board[8][8]}"></span>
    <span th:text="${board[8][9]}"></span>
    <span th:text="${board[8][10]}"></span>
    <span th:text="${board[8][11]}"></span>
    <span th:text="${board[8][12]}"></span>
    <span th:text="${board[8][13]}"></span>
    <span th:text="${board[8][14]}"></span><br>

    <span th:text="${board[9][0]}"></span>
    <span th:text="${board[9][1]}"></span>
    <span th:text="${board[9][2]}"></span>
    <span th:text="${board[9][3]}"></span>
    <span th:text="${board[9][4]}"></span>
    <span th:text="${board[9][5]}"></span>
    <span th:text="${board[9][6]}"></span>
    <span th:text="${board[9][7]}"></span>
    <span th:text="${board[9][8]}"></span>
    <span th:text="${board[9][9]}"></span>
    <span th:text="${board[9][10]}"></span>
    <span th:text="${board[9][11]}"></span>
    <span th:text="${board[9][12]}"></span>
    <span th:text="${board[9][13]}"></span>
    <span th:text="${board[9][14]}"></span><br>

    <span th:text="${board[10][0]}"></span>
    <span th:text="${board[10][1]}"></span>
    <span th:text="${board[10][2]}"></span>
    <span th:text="${board[10][3]}"></span>
    <span th:text="${board[10][4]}"></span>
    <span th:text="${board[10][5]}"></span>
    <span th:text="${board[10][6]}"></span>
    <span th:text="${board[10][7]}"></span>
    <span th:text="${board[10][8]}"></span>
    <span th:text="${board[10][9]}"></span>
    <span th:text="${board[10][10]}"></span>
    <span th:text="${board[10][11]}"></span>
    <span th:text="${board[10][12]}"></span>
    <span th:text="${board[10][13]}"></span>
    <span th:text="${board[10][14]}"></span><br>

    <span th:text="${board[11][0]}"></span>
    <span th:text="${board[11][1]}"></span>
    <span th:text="${board[11][2]}"></span>
    <span th:text="${board[11][3]}"></span>
    <span th:text="${board[11][4]}"></span>
    <span th:text="${board[11][5]}"></span>
    <span th:text="${board[11][6]}"></span>
    <span th:text="${board[11][7]}"></span>
    <span th:text="${board[11][8]}"></span>
    <span th:text="${board[11][9]}"></span>
    <span th:text="${board[11][10]}"></span>
    <span th:text="${board[11][11]}"></span>
    <span th:text="${board[11][12]}"></span>
    <span th:text="${board[11][13]}"></span>
    <span th:text="${board[11][14]}"></span><br>

    <span th:text="${board[12][0]}"></span>
    <span th:text="${board[12][1]}"></span>
    <span th:text="${board[12][2]}"></span>
    <span th:text="${board[12][3]}"></span>
    <span th:text="${board[12][4]}"></span>
    <span th:text="${board[12][5]}"></span>
    <span th:text="${board[12][6]}"></span>
    <span th:text="${board[12][7]}"></span>
    <span th:text="${board[12][8]}"></span>
    <span th:text="${board[12][9]}"></span>
    <span th:text="${board[12][10]}"></span>
    <span th:text="${board[12][11]}"></span>
    <span th:text="${board[12][12]}"></span>
    <span th:text="${board[12][13]}"></span>
    <span th:text="${board[12][14]}"></span><br>

    <span th:text="${board[13][0]}"></span>
    <span th:text="${board[13][1]}"></span>
    <span th:text="${board[13][2]}"></span>
    <span th:text="${board[13][3]}"></span>
    <span th:text="${board[13][4]}"></span>
    <span th:text="${board[13][5]}"></span>
    <span th:text="${board[13][6]}"></span>
    <span th:text="${board[13][7]}"></span>
    <span th:text="${board[13][8]}"></span>
    <span th:text="${board[13][9]}"></span>
    <span th:text="${board[13][10]}"></span>
    <span th:text="${board[13][11]}"></span>
    <span th:text="${board[13][12]}"></span>
    <span th:text="${board[13][13]}"></span>
    <span th:text="${board[13][14]}"></span><br>

    <span th:text="${board[14][0]}"></span>
    <span th:text="${board[14][1]}"></span>
    <span th:text="${board[14][2]}"></span>
    <span th:text="${board[14][3]}"></span>
    <span th:text="${board[14][4]}"></span>
    <span th:text="${board[14][5]}"></span>
    <span th:text="${board[14][6]}"></span>
    <span th:text="${board[14][7]}"></span>
    <span th:text="${board[14][8]}"></span>
    <span th:text="${board[14][9]}"></span>
    <span th:text="${board[14][10]}"></span>
    <span th:text="${board[14][11]}"></span>
    <span th:text="${board[14][12]}"></span>
    <span th:text="${board[14][13]}"></span>
    <span th:text="${board[14][14]}"></span>
  </div>

</body>

</html>

<style>
  .square {
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: #000000;
  }
</style>
