<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="icon" th:src="@{favicon.ico}">
  <audio th:src="@{/sound/bgm1.mp3}" autoplay loop></audio>
  <title>WaitingRoom</title>
  <style>
    #main {
      margin-left:auto;
      margin-right:auto;
      text-align:left;
      width:450px;
    }
  </style>
  <script>
    window.onload = function () {
      function cancel() {
        //yesならtrue,noならfalseが返ってくる
        var yn = window.confirm("対戦をキャンセルしますか？");
        if (yn) {
          location.href = "/game1/cancel";
        }
      }


      var sse = new EventSource('/wait/matchinfo');
      sse.onmessage = function (event) {
        var matchinfo = JSON.parse(event.data);//JSONオブジェクトとしてparse
        console.log(matchinfo.start)
        var matchinfo_body = "";
        var mbody = document.getElementById("matching");

        const tomatch = () => {
          location.href = "/wait/tomatch";
        }

        if (matchinfo.start) {
          matchinfo_body = "<h1>対戦相手が決まりました<br>試合を開始します</h1>"
          mbody.innerHTML = matchinfo_body;
          setTimeout(tomatch,3000);
        } else {
          matchinfo_body = "<button id='cancel'> キャンセル </button><br><h1>対戦相手を待っています</h1>";
          mbody.innerHTML = matchinfo_body;
          let button = document.getElementById('cancel');
          button.onclick = cancel;
        }
      }
    }
  </script>
</head>

<body>
  <div id="main">
    <span id="matching">
      <button id='cancel'> キャンセル </button>
      <h1>対戦相手を待っています</h1>
    </span>
  </div>
</body>

</html>
